.link 
    position: relative
    z-index: 1

    & > a
        color: black
        font-weight: 700
        font-size: 1.3em
        text-decoration: none

        & > svg 
            z-index: 0

    &__underline
        height: 2px
        position: absolute
        bottom: -7px
        left: 0
        background-color: black


        